body {
    background-color: #71767b; /* Grey background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

.login-card {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    width: 450px;
    position: relative;
    text-align: center;
}

/* Creating the Pill shape for buttons */
.btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 25px; 
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #dadce0;
}

.black-btn {
    background-color: black;
    color: white;
}

.input-box {
    width: 100%;
    padding: 15px;
    border: 1px solid #cfd9de;
    border-radius: 4px;
    margin-bottom: 10px;
}